<!DOCTYPE html>
<html>
<head>
    <header style="display: inline">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button onclick="location.href = 'https://mago1981.github.io/CS50W-project0/Templates/swimming.html';" type="button" class="btn btn-secondary">Swimming</button>
        <button onclick="location.href = 'https://mago1981.github.io/CS50W-project0/Templates/wedding.html';" type="button" class="btn btn-secondary">Wedding</button>
        <button onclick="location.href = 'https://mago1981.github.io/CS50W-project0/Templates/index.html';" type="button" class="btn btn-secondary">Home</button>
      </div>
    </header>
    <title>Marko G - A Resume</title>
    <link href="https://mago1981.github.io/CS50W-project0/Static/CSS/resume.css" media="screen,print" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div class="content">
      <h1>
        Marko G
        <small>A Resume</small>
      </h1>
      <h3>Synopsis</h3>
      <div class="synopsis">
        <span class="title">
          My career started in sales and my transition into IT sector started when I found myself in need of updating company’s I work for web page,
          as part of our Marketing and Sales strategy.
          <br><br>
          I am fascinated by creative solutions that writing code offers me. For me it’s a definition of creativity… creating a new functionality
          from scratch, possibility of expressing solutions in many ways  and making decisions about needed trade-offs for increased productivity.
          <br><br>
          Also, collaboration as a part of development team is what drives me to this career. I understand that software development is almost
          always a team effort. Discussing programming problems with my colleagues, requirements with product managers and customers is what I’m
          looking forward in the future.
          <br><br>
          For the past two years, I have enjoyed most of my free time learning Python, JavaScript, HTML, CSS and other useful skills and tools through different courses and wrote some amazing
          code in the process.
          <br><br>
          It is my big wish to get an opportunity to work in software development process and help great ideas come to life.
          <br>
        </span>
      </div>



      <h4>Skills and Tools</h4>

      <div class="skils">
        <span class="title">Python</span>
      </div>

      <div class="skils">
        <span class="title">GIT</span>
      </div>


      <div class="skils">
        <span class="title">HTML</span>
      </div>


      <div class="skils">
        <span class="title">CSS</span>
      </div>


      <div class="skils">
        <span class="title">Bootstrap</span>
      </div>

      <div class="skils">
        <span class="title">Sass</span>
      </div>

      <div class="skils">
        <span class="title">Flask</span>
      </div>

      <div class="skils">
        <span class="title">Jinja2</span>
      </div>

      <div class="skils">
        <span class="title">SQL</span>
      </div>

      <div class="skils">
        <span class="title">ORM</span>
      </div>

      <div class="skils">
        <span class="title">API</span>
      </div>

      <div class="skils">
        <span class="title">JSON</span>
      </div>

      <div class="skils">
        <span class="title">JavaScript</span>
      </div>

      <div class="skils">
        <span class="title">Websockets</span>
      </div>

      <div class="skils">
        <span class="title">Django</span>
      </div>

      <div class="skils">
        <span class="title">CI/CD</span>
      </div>

      <div class="skils">
        <span class="title">Unitest</span>
      </div>

      <div class="skils">
        <span class="title">Selenium</span>
      </div>

      <div class="skils">
        <span class="title">Heroku</span>
      </div>

      <div class="skils">
        <span class="title">Travis CI</span>
      </div>

      <div class="skils">
        <span class="title">Docker</span>
      </div>

      <div class="skils">
        <span class="title">Websockets</span>
      </div>

      <div class="skils">
        <span class="title">Atom</span>
      </div>

      <div class="skils">
        <span class="title">Environments</span>
      </div>

      <h3>Projects</h3>

      <div class="projects">
        <span class="title">HarvardX, CS50's Web Programming with Python and JavaScript,</span>
        <span class="supplemental">Project 3: Pizza -
          <a href="https://github.com/MaGo1981/CS50W-project3" target="_blank">GIT</a>,
          <a href="https://pizza-marko.herokuapp.com/" target="_blank">Heroku</a>
        </span>
        <span class="supplemental">Django, HTML, CSS</span>
        <span class="time-period">2019</span>
      </div>

      <div class="projects">
        <span class="title">HarvardX, CS50's Web Programming with Python and JavaScript, </span>
        <span class="supplemental">Project 2: Messinger -
          <a href="https://github.com/MaGo1981/CS50W-project2" target="_blank">GIT</a>,
          <a href="https://www.youtube.com/watch?v=2ZwBgnUu2aU&t" target="_blank">Youtube</a>
        </span>
        <span class="supplemental">JavaScript, HTML, CSS, Flask, Socket</span>
        <span class="time-period">2019</span>
      </div>

      <div class="projects">
        <span class="title">HarvardX, CS50's Web Programming with Python and JavaScript,</span>
        <span class="supplemental">Project 1: ReadBooks -
          <a href="https://github.com/MaGo1981/CS50W-project1" target="_blank">GIT</a>,
          <a href="https://bookhook.herokuapp.com/" target="_blank">Heroku</a>
        </span>
        <span class="supplemental">Flask, SQL, ORM, API, JSON</span>
        <span class="time-period">2018</span>
      </div>

      <div class="projects">
        <span class="title">HarvardX, CS50's Web Programming with Python and JavaScript, Project 0:</span>
        <span class="supplemental">Marko G - Personal Web Page -
          <a href="https://github.com/MaGo1981/CS50W-project0" target="_blank">GIT</a>,
          <a href="https://mago1981.github.io/CS50W-project0/Templates/index.html" target="_blank">GIT Page</a>
        </span>
        <span class="supplemental">Flask, SQL, ORM, API, JSON</span>
        <span class="time-period">2018</span>
      </div>

      <h3>Certification</h3>

      <div class="certification">
        <span class="title">JavaScript Tutorial Course </span>
        <span class="supplemental">by SoloLearn</span>
        <span class="time-period">September 2018</span>
      </div>
      <div class="certification">
        <span class="title">SQL Fundamentals Course </span>
        <span class="supplemental">by SoloLearn</span>
        <span class="time-period">September 2018</span>
      </div>
      <div class="certification">
        <span class="title">CSS Fundamentals Course </span>
        <span class="supplemental">by SoloLearn</span>
        <span class="time-period">August 2018</span>
      </div>
      <div class="certification">
        <span class="title">HTML Fundamentals Course </span>
        <span class="supplemental">by SoloLearn</span>
        <span class="time-period">May 2018</span>
      </div>
      <div class="certification">
        <span class="title">Python 3 Tutorial Course </span>
        <span class="supplemental">by SoloLearn</span>
        <span class="time-period">May 2018</span>
      </div>
      <div class="certification">
        <span class="title">MITx 6.00.1x: Introduction to Computer Science and Programming Using Python</span>
        <span class="supplemental">by Massachusetts Institute of Technology</span>
        <span class="time-period">August 2017</span>
      </div>
      <div class="certification">
        <span class="title">Version Control with GIT</span>
        <span class="supplemental">by Udacity</span>
        <span class="time-period">August 2017</span>
      </div>
      <div class="certification">
        <span class="title">PYTHON FOR EVERYBODY SPECIALIZATION</span>
        <span class="supplemental">by University of Michigan</span>
        <span class="time-period">April 2017</span>
      </div>
      <div class="certification">
        <span class="title">BUSINESS ANALYTICS SPECIALIZATION</span>
        <span class="supplemental">by University of Pennsylvania</span>
        <span class="time-period">May 2016</span>
      </div>
      <div class="certification">
        <span class="title">INTRODUCTION TO PROJECT MANAGEMENT PRINCIPLES AND PRACTICES SPECIALISATION</span>
        <span class="supplemental">by University of California, Irvine</span>
        <span class="time-period">September 2015</span>
      </div>

      <h3>Education</h3>
      <div class="education">
        <span class="title">University of Zagreb</span>
        <span class="supplemental">Bachelor degree in Economics</span>
        <span class="time-period">2000-2003</span>
      </div>
            <div class="education">
        <span class="title">Natural Science and Mathematical Gymnasium A.G.Matosa, Zabok</span>
        <span class="time-period">1996-2000</span>
      </div>


</body></html>
